<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/plugin.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/style.css')}}">
  
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/assets/img/favicon.png')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='/assets/css/line.css')}}">
    <script src="https://use.fontawesome.com/45634236f1.js"></script>

</head>

<body class="layout-light side-menu">
  
  <header class="header-top">
        <nav class="navbar navbar-light">
            <div class="navbar-left">
                <div class="logo-area">
                  <a href="/">
                    <img class="dark" src="{{ url_for('static', filename='/assets/img/logo-dark.png')}}" alt style="width: 250px;">
                    <!-- <img class="light" src="{{ url_for('static', filename='/assets/img/logo-white.png')}}" alt> -->
                </a>
                </div>
            </div>

            <div class="navbar-right">
                <ul class="navbar-right__menu">
                   
                    <li class="nav-author">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle"><img src="{{ url_for('static', filename='/assets/img/usericon.png')}}" alt
                                    class="rounded-circle">
                                <span class="nav-item__title"> {{ user.first_name }}<i
                                        class="las la-angle-down nav-item__arrow"></i></span>
                            </a>
                            <div class="dropdown-parent-wrapper">
                                <div class="dropdown-wrapper">
                                    <div class="nav-author__info">
                                        <div class="author-img">
                                            <img src="{{ url_for('static', filename='/assets/img/usericon.png')}}" alt class="rounded-circle">
                                        </div>
                                        <div>
                                            <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                                        </div>
                                    </div>
                                    <div class="nav-author__options">
                                        <ul>
                                            <li>
                                                <a href="{{ url_for('index.profile') }}">
                                                    <i class="uil uil-user"></i> Profile</a>
                                            </li>
                                           
                                        </ul>
                                        <a href="/logout" class="nav-author__signout">
                                            <i class="uil uil-sign-out-alt"></i> Sign Out</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
  
    
    <main class="main-content">

                {% block content %} {% endblock %}
                        
                <footer class="footer-wrapper">
                  <div class="footer-wrapper__inside">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="footer-copyright">
                                      <p><span>© <script>
                                        document.write(new Date().getFullYear())
                                      </script> </span> <a href="#"> <b>James & Ward ltd.</b></a>
                                      </p>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="footer-menu text-end">
                                      
                                  </div>
      
                              </div>
                          </div>
                      </div>
                  </div>
              </footer>
  </main>
  <div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='/assets/js/plugins.min.js')}}"></script>
<script src="{{url_for('static', filename='/assets/js/script.min.js')}}"></script>

</body>

</html>